/* groupAdmin */
#groupAdminMain{
    width: 800px;
    margin: 50px auto;
}

#schedule{
    font-size: 33px;
    font-family: 'NanumSquareAceb';
    color: #353535;
    height: 50px;
    padding-top: 5px;
}

#application{
    font-size: 23px;
    font-family: 'NanumSquareAcr';
    color: #868686;
    height: 50px;
    padding-top: 15px;
}

#member{
    font-size: 23px;
    font-family: 'NanumSquareAcr';
    color: #868686;
    height: 50px;
    padding-top: 15px;
}

#exit{
    font-size: 23px;
    font-family: 'NanumSquareAcr';
    color: #868686;
    height: 50px;
    padding-top: 15px;
}

#application a:hover, #member a:hover, #exit a:hover{
    font-weight: 600;
}

/* 일정 */
#plusBt{
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    border: 1px solid #aaa;
    justify-self: center;
    display: flex;
    margin-top: 30px;
}

.card{
    width: 100%;
    border-radius: 10px;
    padding: 15px 25px;
    border: 1px solid #aaa;
    background: #fffee8;
    margin-bottom: 30px;
}

.card-title{
    font-size: 20px;
    font-family: 'NanumSquareAceB';
}

.card-body form{
    width: 56px;
}