<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"> <!-- Thymeleaf 문법 사용 -->
</head>
<body>
<div layout:fragment="body" id="main">
    <div id="loginText">로그인</div>
    <form action="/login" method="post" class="login-form">
        <div class="input-container">
            <label for="userName"></label>
            <input type="text" id="userName" name="userName" placeholder="아이디" required/>

            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="비밀번호" required/>

            <button type="submit" class="button">로그인</button>
        </div>
    </form>
    <div class="link-container">
        <a href="" class="link">아이디 찾기</a>
        <a href="" class="link">비밀번호 찾기</a>
        <a href="" class="link">회원가입</a>
    </div>
</div>
</body>
</html>
