<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{adminFragment/layout}">
<head>
    <meta charset="UTF-8">

    <title>가입 회원 수 차트</title>
    <title layout:fragment="title"></title>

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>

</head>
<body>
<div layout:fragment="body" id="adminHomeMain">

    <div class="gender-chart-container">
        <div id="doughnut">
            남녀 성비
            <canvas id="genderChart"></canvas>
        </div>
        <div id="count">
            <div id="memberCount">
                전체 모임 수
                <span th:text="${totalGroupsCount}"></span>
            </div>
            <div id="tournamentCount">
                전체 대회 수
                <span th:text="${totalTournaments}"></span>
            </div>
        </div>
    </div>  

    <div class="line-chart-container">
        전체 회원 수
        <canvas id="myChart"></canvas>
    </div>





    <script th:inline="javascript">
        let maleCount = [[${maleCount}]];
        let femaleCount = [[${femaleCount}]];
        let noneCount = [[${noneCount}]];
        // 도넛 차트 데이터 설정
        let ctx = document.getElementById('genderChart').getContext('2d');
        let genderChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['남성', '여성', '선택안함'], // 차트 레이블
                datasets: [{
                    data: [maleCount, femaleCount, noneCount], // 각 성별별 사용자 수
                    backgroundColor: ['#36A2EB', '#FF6384', '#FFCE56'], // 색상 설정
                    hoverBackgroundColor: ['#36A2EB', '#FF6384', '#FFCE56'] // 호버 시 색상 설정
                }]
            },
            options: {
                responsive: true, // 반응형 차트
                plugins: {
                    legend: {
                        position: 'top', // 범례 위치
                    },
                    tooltip: {
                        enabled: true // 툴팁 활성화
                    }
                }
            }
        });



        let myCt = document.getElementById('myChart');
        let labels = /*[[${monthLabels}]]*/[];
        let data = /*[[${month}]]*/ [];

        let myChart = new Chart(myCt, {
            type: 'line',
            data: {
                labels:labels,
                datasets: [
                    {
                        label: 'Dataset',
                        data: data,
                    }
                ]
            },
        });


    </script>

</div>
</body>
</html>
