<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdn.tiny.cloud/1/v66zwuo2z8kbdl4t3rglfdpi9lmstor02zcg46dlh7k7q83b/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <link rel="stylesheet" href="/css/group.css">

    <script>
        // tinymce.init({
        //     selector: '#description',
        //     plugins: 'image link',
        //     toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | image link',
        //     images_upload_url: '/upload',
        //     automatic_uploads: true,
        //     file_picker_types: 'image',
        //     images_upload_handler: function (blobInfo, success, failure) {
        //         const formData = new FormData();
        //         formData.append('file', blobInfo.blob(), blobInfo.filename());
        //
        //         fetch('/upload', {
        //             method: 'POST',
        //             body: formData
        //         }).then(response => response.json())
        //             .then(data => {
        //                 console.log("Uploaded image URL:", data.location);
        //                 success(data.location);
        //             })
        //             .catch(() => failure('Image upload failed'));
        //     }
        // });
        tinymce.init({
            selector: '#description',
            plugins: 'image link',
            toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | image link',
            images_upload_url: '/img',
            automatic_uploads: true,
            file_picker_types: 'image',
            images_upload_handler: function (blobInfo, success, failure) {
                const formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());

                fetch('/img', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                    .then(data => {
                        console.log("Uploaded image URL:", data.location);
                        success(data.location);
                    })
                    .catch(() => failure('Image upload failed'));
            }
        });
    </script>
</head>

<div layout:fragment="body" id="main">

    <div id="textBox">
        <p id="groupListText"><a href="">모임 목록</a></p>
        <p id="groupCreateText"><span class="highlight">모임 만들기</span></p>
    </div>

    <form id="form" th:action="@{/group/createGroup}" th:object="${groupDto}" method="post" enctype="multipart/form-data">

        <div class="inputBox">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" required/>
        </div>

        <div class="inputBox" id="intro">
            <label th:for="introduce">소개글</label>
            <input type="text" th:field="*{introduce}" required/>
        </div>

        <div class="inputBox">
            <label th:for="description">내용</label>
            <textarea id="description" th:field="*{description}"></textarea>
        </div>

        <div class="inputBox">
            <label th:for="category">카테고리</label>
            <input type="text" th:field="*{category}" required/>
        </div>

        <div class="inputBox">
            <label th:for="location">활동 지역</label>
            <input type="text" th:field="*{location}" required/>
        </div>

        <div class="inputBox" id="imgBox">
            <label th:for="profileImg">대표 이미지</label>
            <input type="file" th:field="*{profileImg}" accept="image/*"/>
        </div>

        <div id="btWrap">
            <button id="bt" type="submit">생성</button>
        </div>
    </form>
    <a href="/content">ㅇㅇㅇㅇㅇㅇㅇ</a>
</div>

</html>