<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title>모임 목록</title>

    <script src="https://cdn.tiny.cloud/1/v66zwuo2z8kbdl4t3rglfdpi9lmstor02zcg46dlh7k7q83b/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rel="stylesheet" href="/css/group/groupList.css">

</head>

<div layout:fragment="body" id="groupListMain">

    <div id="textBox">
      <p id="groupListText"><span class="highlight">모임 목록</span></p>
      <p id="groupCreateText"><a href="/group/createGroup">모임 만들기</a></p>
    </div>

    <!-- 검색바, 카테고리, 성별, 지역 필터 추가 -->
    <form action="/group/list" method="get" id="filterForm">
        <div id="filterBox">
            <!-- 검색어 입력 -->
            <input type="text" name="keyword" placeholder="검색어를 입력하세요" value="" />

            <!-- 카테고리 선택 -->
            <select name="categoryId">
                <option value="">전체 카테고리</option>
                <th:block th:each="category : ${categories}">
                    <option th:value="${category.groupCategoryId}" th:text="${category.category}"></option>
                </th:block>
            </select>

            <!-- 성별 선택 -->
            <select name="gender">
                <option value="" disabled selected>성별 선택</option>
                <option value="male">남성</option>
                <option value="female">여성</option>
                <option value="all">제한없음</option>
            </select>

            <!-- 지역 검색바 입력 -->
            <input type="text" name="location" id="activityArea" placeholder="지역을 입력하세요" value="" />

            <button type="submit">검색</button>
        </div>
    </form>


    <div id="groupListWrap">
        <div class="groupListBox" th:each="group : ${groupList}">
            <a th:href="@{|/group/${group.groupId}|}">
                <div class="img">
                    <img th:src="'..' + ${group.profileImgUrl}" alt="Profile Image">
                    <p class="category" th:text="${group.categoryName}"></p>
                </div>
                <div class="detail">
                    <p class="title" th:text="${group.name}"></p>
                    <p class="description" th:text="${group.introduce}"></p>
                    <p class="capacity" th:text="${group.currentHeadCount + ' / ' + group.capacity}"></p>
                </div>
            </a>
        </div>
    </div>

<!--<table>-->
<!--  <tr th:each="group : ${groupList}">-->
<!--    <td><a th:href="@{|/group/${group.groupId}|}" th:text="${group.name}"></a></td>-->
<!--    <td th:text="${group.introduce}"></td>-->
<!--    <td th:text="${group.categoryName}"></td> &lt;!&ndash; 각 그룹의 카테고리 정보 &ndash;&gt;-->
<!--    <td th:text="${group.currentHeadCount}"></td>-->
<!--    <td th:text="${group.capacity}"></td>-->
<!--    <td style="width:100px; height:100px;">-->
<!--      <img th:src="'..' + ${group.profileImgUrl}" alt="Profile Image" style="width: 50px; height: 50px;">-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->
</div>

</html>
