<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{group/groupDetail}">
<head>
    <meta charset="UTF-8">
    <title>모임 홈</title>

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>

    <link rel="stylesheet" href="/css/group/groupHome.css">
</head>

<!--<div layout:fragment="groupBody" id="groupMain">-->

<!--    <div id="description">ddd</div>-->

<!--</div>-->

</html>