<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title>모임 상세페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/group/groupDetail.css">

</head>

<div layout:fragment="body" id="groupDetailMain">

  <th:block th:replace="group/groupTop :: groupTop"></th:block>
  <div layout:fragment="groupMain" id="groupMain"></div>

<!--<table>-->
<!--  <tr>-->
<!--    <th>모임명</th>-->
<!--    <td th:text="${groupDetail.name}"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th>소개글</th>-->
<!--    <td th:text="${groupDetail.introduce}"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th>카테고리</th>-->
<!--    <td th:text="${groupDetail.categoryName}"></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th>모임이미지</th>-->
<!--    <td style="width:100px; height:100px;">-->
<!--      <img th:src="'..' + ${groupDetail.profileImgUrl}" alt="Profile Image" style="width: 50px; height: 50px;">-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th>지역</th>-->
<!--    <td th:text="${groupDetail.location}"></td>-->
<!--  </tr>-->
<!--</table>-->

</div>
</html>
