<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="groupTop" id="groupTop">
    <div th:if="${param.message}" class="alert alert-info" role="alert">
        <span th:text="${param.message}"></span>
    </div>

    <div id="groupImg">
        <img th:src="${groupDetail.profileImgUrl}" alt="Profile Image">
        <div id="inform">
            <div id="groupCategory" th:text="${groupDetail.categoryName}"></div>
            <div id="groupLocation" th:text="${groupDetail.location}"></div>
        </div>
    </div>

    <div id="groupTitle">
        <div id="groupName" th:text="${groupDetail.name}"></div>
        <div id="groupIntroduce" th:text="${groupDetail.introduce}"></div>
    </div>

    <div id="groupMenu">
        <div id="home">
            <a th:href="@{/group/{groupId}(groupId=${groupDetail.groupId})}">홈</a>
        </div>
        <div id="board">
            <a th:href="@{'/group/'+${groupDetail.groupId}+'/groupBoard'}">게시판</a>
        </div>
        <div id="chat">
            <a href="">채팅</a>
        </div>
        <div id="groupTournament">
            <a th:href="@{/group/{groupId}/tournament(groupId=${groupDetail.groupId})}">참가대회</a>
        </div>

        <div id="admin" th:if="${isGroupOwner}">
            <a th:href="@{|/groupAdmin/${groupDetail.groupId}/eventAdmin|}">관리</a>
        </div>
    <!-- 자유 가입 (FREE) 방식 -->
        <form th:if="${groupDetail.registrationType.name() == 'FREE' && !isGroupOwner}" th:action="@{/group/join/{groupId}(groupId=${groupDetail.groupId})}" method="post">
            <button th:if="${!isMember}" type="submit" id="freeBt" class="btn custom-green-button mt-3">가입</button>
        </form>
        <form th:if="${groupDetail.registrationType.name() == 'FREE' && isMember && !isGroupOwner}" th:action="@{/group/leave/{groupId}(groupId=${groupDetail.groupId})}" method="post">
            <button type="submit" id="leaveBt" class="resignBt btn custom-red-button mt-3">탈퇴</button>
        </form>

        <!-- 승인 필요 (APPROVAL) 방식 -->
        <button type="button" id="approvalBt" th:if="${groupDetail.registrationType.name() == 'APPROVAL' && !isMember && !isGroupOwner}"
                class="btn custom-green-button mt-3" data-toggle="modal" data-target="#applyModal">
            가입
        </button>
        <form th:if="${groupDetail.registrationType.name() == 'APPROVAL' && isMember && !isGroupOwner}" th:action="@{/group/leave/{groupId}(groupId=${groupDetail.groupId})}" method="post">
            <button type="submit" id="leaveBt2" class="resignBt btn custom-red-button mt-3">탈퇴</button>
        </form>


        <!-- 모달 -->
        <div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title text-center" id="applyModalLabel">모임 가입</div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <!-- 가입 신청서 -->
                        <form th:action="@{/group/approval/{groupId}(groupId=${groupDetail.groupId})}"  method="post" >
                            <div class="form-group" >
                                <label for="reason">가입 이유</label>
                                <textarea class="form-control" id="reason" name="reason" rows="3" placeholder="가입 이유를 작성해주세요" style="height: 130px;"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="say">하고 싶은 말</label>
                                <textarea class="form-control" id="say" name="say" rows="3" placeholder="하고 싶은 말을 작성해주세요" style="height: 130px;"></textarea>
                            </div>
                            <div id="btWrap">
                                <button type="submit" class="btn btn-primary" id="submitGroupBt">신청</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title"  id="applyModalLabel">모임 신청</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    &lt;!&ndash; 가입 신청서 &ndash;&gt;-->
<!--                    <form th:action="@{/group/미정}" method="post">-->
<!--                        <div class="form-group">-->
<!--                            <label for="applicationForm">가입 이유</label>-->
<!--                            <textarea class="form-control" id="applicationForm" name="applicationForm" rows="3" placeholder="가입 이유를 작성해주세요"></textarea>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="reason">하고 싶은 말</label>-->
<!--                            <textarea class="form-control" id="reason" name="reason" rows="3" placeholder="하고 싶은 말을 작성해주세요"></textarea>-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn btn-primary">신청</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

</html>