<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <div th:fragment="adminSide" id="adminSide">
        <div>
            <div id="dashBoard" class="sidebar">
                <a href="/admin/main"><i class="bi bi-bar-chart-line"></i>대시보드</a>
            </div>

            <div id="userControl" class="sidebar">
                <a href="/admin/userControl"><i class="bi bi-person"></i>회원 관리</a>
            </div>

            <div id="groupControl" class="sidebar">
                <a href="/admin/groupControl"><i class="bi bi-people"></i>모임 관리</a>
            </div>

            <div id="tournamentControl" class="sidebar">
                <a href="/admin/tournamentControl"><i class="bi bi-fire"></i>대회 관리</a>
            </div>
        </div>

        <div id="exit" class="sidebar">
            <a href="/home"><i class="bi bi-box-arrow-right"></i>나가기</a>
        </div>
    </div>
</html>