<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title>참가모임</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>

    <link rel="stylesheet" href="/css/tournament/tournamentTop.css">
    <link rel="stylesheet" href="/css/tournament/participantList.css">
    <script src="/js/tournamentInfo.js"></script>
</head>

<div layout:fragment="body" id="participantListMain">

    <th:block th:replace="tournament/tournamentTop :: tournamentTop"></th:block>

    <div id="participantListWrap">
        <div id="participantBox" th:each="participant : ${participantList}">
            <a th:href="@{|/group/${participant.groupId}|}">
                <div id="participantImg">
                    <img th:src="${participant.profileImgUrl}" alt="프로필 이미지" />
                </div>
                <span th:text="${participant.name}">참가자 이름</span>
            </a>
        </div>
    </div>

</div>
<!--<h1>참가자 목록</h1>-->
<!--<ul>-->
<!--    <li th:each="participant : ${participantList}">-->
<!--        <span th:text="${participant.name}">참가자 이름</span> - -->
<!--        <img th:src="${participant.profileImgUrl}" alt="프로필 이미지" />-->
<!--    </li>-->
<!--</ul>-->
</html>