<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <title>대회 대진표</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/tournament/tournamentBracket.css">
</head>
<div layout:fragment="body" id="tournamentBracket">
<div th:text="${errorMessage}" id="error-message" style="display: none"></div>
    <div id="bracketHeader">
    <h1 id="tournament-title">대진표</h1>
    <form id="shuffleForm" action="/match" th:object="${trnDto}">
        <input type="hidden" th:field="*{tournamentId}">
        <button class="button" id="shuffle-button">대진팀 섞기</button>
    </form>
    <button class="button back-button" onclick="location.href='/tournament/' + tournamentId">뒤로가기</button>
    </div>
<!-- 대진표 동적 생성 -->
<div class="tournament">

</div>
<!-- 경기결과 모달 -->
<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">경기 결과 선택</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="team-selection">
                    <div class="team-box left resSelect a1" data-id="" data-match=""></div>
                    <div class="team-box right resSelect b1" data-id="" data-match=""></div>
                </div>
                <div>
                    <input type="number" id="scoreA" class="score-input form-control d-inline" placeholder="0" min="0" value="0" oninput="validateScores()">
                    <span>스코어</span>
                    <input type="number" id="scoreB" class="score-input form-control d-inline" placeholder="0" min="0" value="0" oninput="validateScores()">
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <input type="hidden" id="win">
                    <input type="hidden" id="matchNum">
                </div>
                <button type="button" id="resultSave" class="btn btn-primary">확인</button>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">오류</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-error-message"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>



<script th:inline="javascript">
    var groupList = /*[[${groupList}]]*/ [];
    var trnFormat = /*[[${trnDto.format}]]*/ [];
    window.isLeader = /*[[${isLeader}]]*/ false;
    var tournamentId = /*[[${trnDto.tournamentId}]]*/;

</script>
    <script src="/js/tournamentBracket.js"></script>
</div>
</html>
