<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>대회 대진표</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <style>
        .tournament {
            display: flex;
            justify-content: space-around;
            padding: 20px;
            align-items: center;
        }
        .participatingBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 150px;
            margin: 0 20px;
        }
        .team {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 20px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f8f9fa;
            width: 100px;
            text-align: center;
        }
        .team img {
            width: 50px;
            height: 50px;
            margin-bottom: 5px;
        }
        /* 연결선 스타일 */
        .line {
            border-left: 2px solid #000;
            height: 20px;
            margin: 10px auto;
        }
        .participatingBox h3 {
            text-align: center;
            margin-bottom: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<form action="/match" th:object="${trnDto}">
    <input type="hidden" th:field="*{tournamentId}">
    <button>랜덤</button>
</form>
<!-- 대진표 동적 생성 -->
<div class="tournament">
    <div class="participatingBox quarterfinals">
        <div th:each="participant, stat : ${groupList}"
             th:if="${stat.index < trnDto.format}"
             class="team quarterfinals"
             th:data-num="${stat.index}">
            <img th:src="${participant.profileImgUrl}">
            <span th:attr="data-id=${participant.groupId}, data-match=${participant.matchNumber}"
                  th:text="${participant.name}"></span>
        </div>
    </div>
    <div class="participatingBox semifinals">
        <div th:each="participant, stat : ${groupList}"
             th:if="${stat.index >= trnDto.format && stat.index < trnDto.format + (trnDto.format / 2)}"
             class="team semifinals"
             th:data-num="${stat.index}">
            <img th:src="${participant.profileImgUrl}">
            <span th:attr="data-id=${participant.groupId}, data-match=${participant.matchNumber}"
                  th:text="${participant.name}"></span>
        </div>

    </div>
    <div class="participatingBox final">
        <div th:each="participant, stat : ${groupList}"
             th:if="${stat.index >= trnDto.format + (trnDto.format / 2) && stat.index < trnDto.format + (trnDto.format * 3 / 4)}"
             class="team final"
             th:data-num="${stat.index}">
            <img th:src="${participant.profileImgUrl}">
            <span th:attr="data-id=${participant.groupId}, data-match=${participant.matchNumber}"
                  th:text="${participant.name}"></span>
        </div>
    </div>
    <div class="participatingBox winner">
        <div th:each="participant, stat : ${groupList}"
             th:if="${stat.index >= trnDto.format + (trnDto.format * 3 / 4)}"
             class="team winner"
             th:data-num="${stat.index}">
            <img th:src="${participant.profileImgUrl}">
            <span th:attr="data-id=${participant.groupId}, data-match=${participant.matchNumber}"
                  th:text="${participant.name}"></span>
        </div>
    </div>
</div>

<div> <!-- 경기결과 모달 -->
    <div class="ab">
        <span class="a1 resSelect"></span>
        <span class="b1 resSelect"></span>
        <div>
            <input type="hidden" id="win">
            <input type="hidden" id="matchNum">
            <input type="text" id="score">
        </div>
        <button type="button" id="resultSave">저장</button>
    </div>
</div>

<!-- Bootstrap Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">오류</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-error-message"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>



<script th:inline="javascript">
    var groupList = /*[[${groupList}]]*/[];
    groupList = groupList.map(group => {
        return {
            ...group,
            name: decodeURI((group.name))
        };
    });

    var gang=/*[[${trnDto.format}]]*/[];
    console.log(gang);
    var pt=``;
    var ft=gang;
    for(var i in groupList) {
        if(i==gang) {
            var $ptbox = $('<div class="participatingBox"></div>');
            $ptbox.append(pt);
            ft = ft/2;
            gang = gang+ft;
            $(".tournament").append($ptbox);
            pt=``;
        }
        pt +=`<div class="team quarterfinals" data-num="${i}">
            <img src="${groupList[i].profileImg}">
            <span data-id="${groupList[i].groupId}" data-match="${groupList[i].matchNumber}">${groupList[i].name}</span>
            <span>${groupList[i].score}</span>
        </div>`;
    }
    var $ptbox = $('<div class="participatingBox"></div>');
    $ptbox.append(pt);
    $(".tournament").append($ptbox);

    $(".team").on("click", function() {
        var aNum = $(this).data("num") + 1;
        var bNum = aNum % 2 == 0 ? aNum - 1 : aNum + 1;
        var agid = $(this).find("span").data("id");
        var aMatchNum = $(this).find("span").data("match");
        var bgid = $(".team").eq(bNum - 1).find("span").data("id");
        var bMatchNum = $(".team").eq(bNum - 1).find("span").data("match");
        var aName = $(this).find("span").text();
        var bName = $(".team").eq(bNum - 1).find("span").text();

        $(".ab .a1").data("id", agid).text(aName);
        $(".ab .b1").data("id", bgid).text(bName);
        $(".ab .a1").data("match", aMatchNum);
        $(".ab .b1").data("match", bMatchNum);
    });

    $(".resSelect").on("click", function() {
        $(".resSelect").removeAttr("style");
        $(this).css("color", "red");
        $("#win").val($(this).data("id"));
        $("#matchNum").val($(this).data("match"));
    });

    $("#resultSave").on("click", function() {
        var wingid = $("#win").val();
        var score = $("#score").val();
        var tid = $("input[name='tournamentId']").val();
        var matchNum = $("#matchNum").val();

        if (!wingid || !score || !tid || !matchNum) {
            alert("모든 필드를 입력해주세요.");
            return;
        }

        location.href = "/tournament/matchResult?wgid=" + wingid + "&tid=" + tid + "&score=" + score + "&matchNum=" + matchNum;
    });

    // $(document).ready(function() {
    //     var errorMessage = $("#error-message").text();
    //     if (errorMessage) {
    //         alert(errorMessage);
    //     }
    // });
    $(document).ready(function() {
        var errorMessage = $("#error-message").text();
        if (errorMessage) {
            $("#modal-error-message").text(errorMessage);
            $("#errorModal").modal('show');
        }
    });


</script>

</body>
</html>
