/* main.css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

#wrap{
    width: 100%;
    position: relative;
    overflow: visible;
}

#header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 8px 10px 0 rgba(89, 218, 80, 0.3);
    position: sticky;
}

#main{
    width: calc(100% - 600px);
    position: relative;
    margin: 0 300px 0 100px;
}

#listIcon{
    margin-left: 300px;
    font-size: 30px;
    line-height: 80px;
    cursor: pointer;
}

#headerWrap{
    top: 0;
    right: 10px;
    width: 200px;
    display: flex;
    height: 80px;
    position: absolute;
    margin-right: 300px;
}

#headerWrap .headerBox{
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 17px;
    line-height: 80px;
    font-weight: 500;
    font-family: 'NanumSquareAcb';
    color: #4C4C4C;
}

#login{
}

#join{
}

#middle{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
}

#side{
    width: 200px;
    position: sticky;
    top: 0;
    left: 0;
    height: calc(100vh - 80px);
    border: 1px solid #B7F0B1;
    display: none;
    transition: transform 0.4s ease; /* 부드러운 전환 효과 */
    transform: translateX(0); /* 사이드바가 보이는 상태 */
}

#side.toggle{
    transform: translateX(-100%);
}

.sidebar{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 18px;
    line-height: 100px;
    font-weight: 500;
    font-family: 'NanumSquareAcb';
    color: #4C4C4C;
}

.sidebar a:hover{
    color: #65D35D;
}

.sidebar i{
    font-size: 25px;
    margin-right: 10px;
    top: 3px;
    position: relative;
}

.sidebar a{
    height: 30px;
    line-height: 30px;
}
#introduce{
    margin-top: 50px;
}

#helpline{
    position: absolute;
    bottom: 50px;
}
