<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title"></title>

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>
    <div layout:fragment="body" id="main">
        <div id="homeMain">
            <div id="banner">
                <div id="detail">
                    <a href="/introduce">자세히 보기  ▶</a>
                </div>
            </div>

            <div id="categoryWrap">
                <div id="game" class="categoryBox">
                    <a th:href="@{/group/list?categoryId=1}">
                        <div id="gameImg" class="categoryImg"></div>게임
                    </a>
                </div>
                <div id="sports" class="categoryBox">
                    <a th:href="@{/group/list?categoryId=2}">
                        <div id="sportsImg" class="categoryImg"></div>스포츠
                    </a>
                </div>
                <div id="travel" class="categoryBox">
                    <a th:href="@{/group/list?categoryId=3}">
                        <div id="travelImg" class="categoryImg"></div>여행
                    </a>
                </div>
                <div id="reading" class="categoryBox">
                    <a th:href="@{/group/list?categoryId=4}">
                        <div id="readingImg" class="categoryImg"></div>독서
                    </a>
                </div>
                <div id="study" class="categoryBox">
                    <a th:href="@{/group/list?categoryId=5}">
                        <div id="studyImg" class="categoryImg"></div>스터디
                    </a>
                </div>
                <div id="cooking" class="categoryBox">
                    <a th:href="@{/group/list?categoryId=6}">
                        <div id="cookingImg" class="categoryImg"></div>요리
                    </a>
                </div>
                <div id="social" class="categoryBox">
                    <a th:href="@{/group/list?categoryId=7}">
                        <div id="socialImg" class="categoryImg"></div>친목
                    </a>
                </div>
                <div id="self" class="categoryBox">
                    <a th:href="@{/group/list?categoryId=8}">
                        <div id="selfImg" class="categoryImg"></div>자기계발
                    </a>
                </div>
                <div id="beauty" class="categoryBox">
                    <a th:href="@{/group/list?categoryId=9}">
                        <div id="beautyImg" class="categoryImg"></div>미용
                    </a>
                </div>
                <div id="pet" class="categoryBox">
                    <a th:href="@{/group/list?categoryId=10}">
                        <div id="petImg" class="categoryImg"></div>반려동물
                    </a>
                </div>
            </div>

            <div class="groupWrap" sec:authorize="hasAnyRole('ADMIN', 'USER', 'READER')">
                <div class="name">맞춤 모임</div>
                <div class="boxWrap">
                    <!-- box div에 th:if 조건 추가 -->
                    <div class="box" th:each="group, iterStat : ${groups}" th:if="${iterStat.index < 4}">
                        <a th:href="@{|/group/${group.groupId}|}">
                            <div class="img">
                                <img th:src="'..' + ${group.profileImgUrl}" alt="Profile Image">
                                <p class="category" th:text="${group.categoryName}"></p>
                            </div>
                            <div class="detail">
                                <p class="title" th:text="${group.name}"></p>
                                <p class="description" th:text="${group.introduce}"></p>
                                <p class="capacity" th:text="${group.currentHeadCount + ' / ' + group.capacity}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="groupWrap">
                <div class="name">인기 모임</div>
                <div class="boxWrap">
                    <div class="box">
                        <a href="">
                            <div class="img">
                                <p class="category">카테고리</p>
                            </div>
                            <div class="detail">
                                <p class="title">모임 이름</p>
                                <p class="description">여기는 모임 설명</p>
                                <p class="capacity">18/20</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="groupWrap">
                <div class="name">신규 모임</div>
                <div class="boxWrap">
                    <div class="box" th:each="group, iterStat : ${newGroups}" th:if="${iterStat.index < 4}">
                        <a th:href="@{|/group/${group.groupId}|}">
                            <div class="img">
                                <img th:src="'..' + ${group.profileImgUrl}" alt="Profile Image">
                                <p class="category" th:text="${group.categoryName}"></p>
                            </div>
                            <div class="detail">
                                <p class="title" th:text="${group.name}"></p>
                                <p class="description" th:text="${group.introduce}"></p>
                                <p class="capacity" th:text="${group.currentHeadCount + ' / ' + group.capacity}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>