<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title"></title>

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>

    <div layout:fragment="body" id="main">
        <div id="introImg"></div>
        <div id="categoryWrap">
            <div id="game" class="categoryBox">
                <div id="gameImg" class="categoryImg"></div>
                게임
            </div>
            <div id="sports" class="categoryBox">
                <div id="sportsImg" class="categoryImg"></div>
                스포츠
            </div>
            <div id="travel" class="categoryBox">
                <div id="travelImg" class="categoryImg"></div>
                여행
            </div>
            <div id="social" class="categoryBox">
                <div id="socialImg" class="categoryImg"></div>
                친목
            </div>
            <div id="self" class="categoryBox">
                <div id="selfImg" class="categoryImg"></div>
                자기계발
            </div>
            <div id="reading" class="categoryBox">
                <div id="readingImg" class="categoryImg"></div>
                독서
            </div>
            <div id="study" class="categoryBox">
                <div id="studyImg" class="categoryImg"></div>
                스터디
            </div>
            <div id="cooking" class="categoryBox">
                <div id="cookingImg" class="categoryImg"></div>
                요리
            </div>
            <div id="beauty" class="categoryBox">
                <div id="beautyImg" class="categoryImg"></div>
                미용
            </div>
            <div id="pet" class="categoryBox">
                <div id="petImg" class="categoryImg"></div>
                반려동물
            </div>
        </div>
    </div>

</body>
</html>