<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title>랭킹</title>

    <script src="https://cdn.tiny.cloud/1/v66zwuo2z8kbdl4t3rglfdpi9lmstor02zcg46dlh7k7q83b/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rel="stylesheet" href="/css/ranking.css">
</head>

<div layout:fragment="body" id="rankingMain">

    <div id="rankingText">랭킹</div>

    <div id="searchBox">
        <form th:action="@{/ranking/search}" method="get">
            <select id="categoryId" name="categoryId">
                <!-- 카테고리 옵션 목록 추가 -->
                <option th:each="category : ${categories}" th:value="${category.groupCategoryId}" th:text="${category.category}"></option>
            </select>
            <button type="submit">검색</button>
        </form>
    </div>

    <div id="rankingWrap">
        <div class="rankingBox" th:each="group, iterStat : ${rankingList}">
            <a th:href="@{'/group/' + ${group.groupId}}">
                <!-- 첫 번째, 두 번째, 세 번째 rankingBox에 대해서는 폰트 크기를 28px로 설정 -->
                <div class="num" th:style="${iterStat.index < 3} ? 'font-size: 28px;' : ''">
                    <!-- 첫 번째, 두 번째, 세 번째 순위는 이미지 사용 -->
                    <div th:if="${iterStat.index == 0}" id="img1"></div>
                    <div th:if="${iterStat.index == 1}" id="img2"></div>
                    <div th:if="${iterStat.index == 2}" id="img3"></div>
                    <!-- 4번째 이후에는 숫자 표시 -->
                    <div th:if="${iterStat.index > 2}" th:text="${iterStat.index + 1}"></div>
                </div>

                <div class="rankingImg">
                    <img th:src="${group.profileImgUrl}">
                </div>

                <!-- rankingName, rankingCategory, winCount 폰트 크기를 첫 3개는 28px, 그 이후는 23px로 설정 -->
                <div class="rankingName"
                     th:style="${iterStat.index < 3} ? 'font-size: 28px;' : 'font-size: 21px;'"
                     th:text="${group.name}"></div>

                <div class="rankingCategory"
                     th:style="${iterStat.index < 3} ? 'font-size: 28px;' : 'font-size: 21px;'"
                     th:text="${group.categoryName}"></div>

                <div class="winCount"
                     th:style="${iterStat.index < 3} ? 'font-size: 28px;' : 'font-size: 21px;'"
                     th:text="${group.win}"></div>
            </a>
        </div>
    </div>


</div>

</html>